*{
    margin: 0;
    padding:0;
    font-family: Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
    color:white ;
}

body{
    overflow-x: hidden;
}

#navbar{
    background-color: transparent;
    display:flex;
    align-items: center;
    position: relative;
    top:0px;
    left:0px;
    width:100vw;
    height:10vh;
    justify-content: space-around;
    z-index: 2;
}

#mainlogo{
    background-image: url("Netflix-Logo.png");
    background-size: cover;
    height: 90%;
    width:150px;
    background-position: center;
    background-repeat:no-repeat ;
}

#dropdown{
    background: transparent;
    border:white 1px solid;
    height: 75%;
    width: 100px;
    color: white;
    backdrop-filter: brightness(50%);
    padding: 10px;
}

.lang{
    color: black;
    border:none;
}

#main{
    background: url(bgmain.jpeg);
    background-position: center;
    background-size: cover;
    display: flex;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100vh;
    width:100vw;
    z-index: -1;
}

#main::before{
    content: "";
    backdrop-filter: brightness(50%);
    width:100vw;
    height: 100vh;
    position:absolute;
    top: 0px;
    left: 0px;
}

#signin{
    position: absolute;
    top:50%;
    left: 50%;
    translate: -50% -50%;
    width: 400px;
    height: 450px;
    backdrop-filter: brightness(30%);
    display: flex;
    justify-content: center;
    border-radius: 10px;
    z-index: 2;
}

form{
    display: flex;
    width:100%;
    height:100%;
    align-content: space-evenly;
    justify-content: center;
    padding: 10px;
    flex-wrap: wrap;
}

#signin h3{
    font-size: 35px;
    color: white;
}

input{
    width: 85%;
    height: 30px;
    border-radius: 5px;
    border: none;
    padding: 7px;
    color: black;
}

input:focus-visible {
  outline: none;
  box-shadow: none;
}

#pass{
    width:75%;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
}

#eyeopen{
    width:10%;
    border-radius: 0px;
    height: 44px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    background-color: white;
}

#eyeopen:hover{
    cursor: pointer;
}

#eyeclosed{
    width:10%;
    border-radius: 0px;
    height: 44px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    background-color: white;
}

#eyeclosed:hover{
    cursor: pointer;
}

button{
    width: 30%;
    height: 10%;
    background-color: red;
    border: white 1px solid;
    border-radius: 20px;
}

.icon{
    color: black;
    font: 30px;
}

#sidebar{
    height: 475px;
    width: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-evenly;
    background-color: #212121;
    position: absolute;
    top: 50%;
    translate: 0% -50%;
    left: 10px;
    border-radius: 25px;
    border: #475b5b 1px solid;
    z-index: 2;
}

.sideicons{
    width: 70%;
    height: 7%; 
    justify-self: center;
    position: relative;
    display: flex;
    border: #212121 1px solid;
    justify-content: center;
    align-items: center;
}

.icons{
    color: white;
    font-size: 22px;
}

#sidebarexp{
    width: 200px;
    height: 475px;
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    top: 50%;
    translate: 0% -50%;
    left: 70px;
    align-content: space-evenly;
    justify-content: center;
    background-color: #212121;
    border-radius: 10px;
    visibility: hidden;
    z-index: 3;
}

#sidebarexp a{
    width: 80%;
    text-align: center;
    color: white;
    text-decoration: none;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sideicons:hover{
    border-bottom: white 1px solid;
    background: linear-gradient(to top, red,#212121 );
    cursor: pointer;
}

#sidebarexp a:hover{
    background: linear-gradient(to top, red,#212121 );
    cursor: pointer;
}

.curved{
    position: absolute;
    top: 90vh;
    width: 120vw;
    height: 20vh;
    left:-10vw;
    background: radial-gradient(50% 500% at 50% -420%,
     rgba(64, 97, 231, 0.4) 80%, rgba(0, 0, 0, 0.1) 100%), black;
    border-top-left-radius: 50% 100%;
    border-top-right-radius: 50% 100%;
}

.curved h3{
    position: absolute;
    color: white;
    bottom: 3px;
    left:17%;
    font-size: 1.5rem;
}

.curved::before{
    border-radius: inherit;
    background: linear-gradient(to right, rgba(33, 13, 22, 1) 16%, rgba(184, 40, 105, 1), rgba(229, 9, 20, 1), rgba(184, 40, 105, 1), rgba(33, 13, 22, 1) 84%);
    content: '';
    position: absolute;
    top: -4px;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
}

#fortop{
    width:100vw;
    height: 300px;
    background-color: black;
    position: absolute;
    top: 110vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#scroller{
    position: absolute;
    width: 80%;
    height:95%;
    display: flex;
    overflow-x: hidden;
    flex-wrap: nowrap;
    align-items: center;
    scroll-behavior: smooth;
}

.top10{
    height: 250px;
    width: 175px;
    background-color: #212121;
    flex-grow: 0;
    flex-shrink: 0;
    margin: 10px;
    display: inline-block;
    background-size: cover;
    border-radius: 10px;
    transition:all 0.15s ease-in;
}

.top10:hover{
    scale: 1.1;
}

.move{
    width: 30px;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    border-radius: 10px;
}

#right{
    right: 30px;
}

#right:hover{
    background: linear-gradient(to left,red,black);
}

#left{
    left: 30px;
}

#left:hover{
    background: linear-gradient(to right,red,black);
}

#details{
    background-color: black;
    position: absolute;
    top: calc(110vh + 300px);
    width: 100vw;
    height: 475px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#detailbox{
    height:75%;
    width: 80%;
    background-color: black;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
}

#details h2{
    position: absolute;
    top: 4%;
    left:10%;
}

.detail{
    height: 80%;
    width: 20%;
    background: linear-gradient(
     rgb(12, 2, 67) 45%, rgb(68, 2, 2) 100%), black;;
    border-radius: 15px;
    padding: 20px;
}

.detail h4{
    font-size: 23px;
    margin-bottom: 20px;
}

.detail p{
    font-size: 16px;
    color: #FFFFFFB3;
}

#footer{
    position: absolute;
    top:calc(110vh + 775px);
    background-color: black;
    width: 100vw;
    height: 1000px;
}

#questions{
    position: absolute;
    top: 30px;
    justify-self: center;
    height: 60%px;
}

.q{
    width: 75vw;
    display: flex;
    justify-content: space-between;
    height: 50px;
    font-size: 24px;
    background-color: #212121;
    margin: 10px;
    padding: 15px;
    align-items: center;
}

#q1{
    margin-top: 20px;
}

.q h2{
    font-weight: 100;
    font-size: 50px;
    translate: -10% -10%;
}

.q:hover{
    background-color: #5c5b5b;
    cursor: pointer;
}

#finisher{
    position: absolute;
    top: calc(60% + 50px);
    background-color: black;
    height: 60%;
    width: 100vw;
}

#entry{
    position: absolute;
    top: 30px;
    width: 90%;
    display: flex;
    height: 100px;
    flex-wrap: wrap;
    justify-content: center;
    justify-self: center;
}

#entry input{
    width: 60%;
    background-color: black;
    font-size: 16px;
    color: white;
    height: 40px;
    border: white 1px solid;
}

#entry button{
    width: 20%;
    height: 55px;
    border-radius: 10px;
    margin-left: 10px;
    font-size : 20px;
    font-weight: bold;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#finaldetails{
    position: absolute;
    top: 200px;
    width: 80%;
    justify-self: center;
    font-size: 14px;
}

a{
    text-decoration: underline;
    color: rgba(228, 215, 215, 0.788);
}

a:hover{
    cursor: pointer;
}

#table{
    justify-self: center;
    margin-top: 30px;
}

tr{
    height: 40px;
}

td{
    width: 300px;
}


/* Responsive */

/* @media (max-width:1100px) {
    .detail{
        width:40%;
        height:40%;
        margin-top: 10px;
    }
    #detailbox{
        flex-wrap: wrap;
    }
}

@media (max-width:1100px) {
    .detail h4{
        font-size: 18px;
    }
    .detail p{
        font-size: 14px;
    }
}

@media (max-width:1100px) {
    .detail{
        width:80%;
        height:20%;
        margin-top: 10px;
    }
} */